@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ICON   */
  .icon-xs {
    @apply w-5 h-5;
  }
  .icon-sm {
    @apply w-6 h-6;
  }
  .icon-md {
    @apply w-7 h-7;
  }
  .icon-lg {
    @apply w-8 h-8;
  }
  .icon-xl {
    @apply w-10 h-10;
  }

  .btn {
    @apply flex items-center rounded;
  }

  .btn-primary {
    @apply p-1 font-semibold text-gray-900 bg-primary hover:bg-primary-dark;
  }
  .btn-secondary {
    @apply p-1 hover:bg-gray-300 dark:hover:bg-gray-600;
  }

  .has-sidebar-width {
    width: calc(100vw - theme('spacing.60'));
  }

  .main-content {
    @apply transition-all duration-200 ease-linear 
      flex flex-col h-screen p-2 space-y-2 dark:bg-gray-900 dark:text-white -z-10;
  }

  .sidebarCollections-height {
    height: calc(100vh - theme('spacing.40'));
  }

  /* Genaral input  */
  .checkbox-input {
    @apply w-7 h-7 appearance-none  rounded bg-gray-200 dark:bg-gray-700 
    checked:bg-primary dark:checked:bg-primary-bright;
  }

  /* Modal */
  .property-label {
    @apply flex items-center space-x-1 w-full p-1 md:text-right md:w-32 md:text-lg 
    rounded border-b-2 border-secondary-dark   bg-gray-100 dark:bg-gray-800;
  }
  .property-readOnly {
    @apply flex items-center w-full h-10 px-2  cursor-default rounded   bg-gray-50 dark:bg-gray-800;
  }

  .input-with-label {
    @apply block md:flex md:items-center md:space-x-2;
  }
  .input-label {
    @apply w-full md:text-right md:w-24 md:text-lg;
  }

  .modal-input {
    @apply w-full  h-10 px-2 cursor-default rounded  border border-black bg-gray-50 dark:bg-gray-700 
    focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-primary;
  }
  .modal-head-input {
    @apply w-full text-3xl  font-bold rounded border-0 bg-gray-50 dark:bg-gray-800
    focus:outline-none focus-visible:ring-2 focus-visible:ring-opacity-75 focus-visible:ring-primary;
  }
  .modal-neutral-btn {
    @apply text-lg rounded-md px-4 py-1 bg-gray-100  hover:bg-gray-200  dark:bg-gray-700 
    dark:hover:bg-gray-600 font-medium;
  }

  .modal-positive-btn {
    @apply text-lg rounded-md px-4 py-1 bg-primary hover:bg-primary-dark 
    dark:text-black font-medium disabled:hover:bg-yellow-300 
    disabled:cursor-no-drop;
  }
}
