@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ICON   */
  .icon-xs {
    @apply w-5 h-5;
  }
  .icon-sm {
    @apply w-6 h-6;
  }
  .icon-md {
    @apply w-7 h-7;
  }
  .icon-lg {
    @apply w-8 h-8;
  }
  .icon-xl {
    @apply w-10 h-10;
  }
  .icon-3xl {
    @apply w-14 h-14;
  }

  .btn {
    @apply flex items-center rounded;
  }

  .btn-primary {
    @apply p-1 font-semibold text-gray-900 bg-primary hover:bg-primary-dark;
  }
  .btn-secondary {
    @apply p-1 hover:bg-gray-300 dark:hover:bg-gray-600;
  }

  .collection-menu-item-btn {
    @apply w-full p-1 flex items-center space-x-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600;
  }

  .action-icon-filled-variant {
    @apply p-1 bg-gray-200 hover:bg-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
  }
  .action-icon-hover-variant {
    @apply p-1 hover:bg-gray-300 dark:hover:bg-gray-600;
  }

  .has-sidebar-width {
    width: calc(100vw - theme('spacing.60'));
  }

  .main-content {
    @apply transition-all duration-200 ease-linear 
      flex flex-col h-screen py-2 px-4 space-y-2 dark:bg-gray-900 dark:text-white -z-10;
  }

  .sidebarCollections-height {
    height: calc(100vh - theme('spacing.40'));
  }

  .property-within-drawer {
    @apply w-full p-1 rounded-sm  border border-dashed;
  }

  /* Genaral input  */
  .checkbox-input {
    @apply w-6 h-6 appearance-none  rounded bg-gray-200 dark:bg-gray-700 
    checked:bg-primary dark:checked:bg-primary-bright;
  }

  /* Modal */

  /* new version  */
  .modal-form {
    @apply space-y-2;
  }

  .modal-input-label {
    @apply text-sm;
  }
  .modal-head-input {
    @apply w-full text-2xl px-2  font-semibold rounded border-0 bg-gray-100 dark:bg-gray-800
    focus:outline-none focus-visible:ring-1 focus-visible:ring-opacity-75 focus-visible:ring-primary;
  }
  .modal-input {
    @apply w-full h-10 px-2 cursor-default rounded  border-0  bg-gray-300 dark:bg-gray-700 
    focus:outline-none focus-visible:ring-1 focus-visible:ring-opacity-75 focus-visible:ring-primary;
  }

  .modal-text-area {
    @apply w-full px-2 resize-none rounded  border-0 bg-gray-300 dark:bg-gray-700
    focus:outline-none focus-visible:ring-1 focus-visible:ring-opacity-75 focus-visible:ring-primary-bright;
  }
  .modal-checkbox {
    @apply w-5 h-5 appearance-none rounded-sm border-0 bg-gray-200 dark:bg-gray-700 
    checked:bg-primary dark:checked:bg-primary-bright;
  }
  /* new version  */

  .property-label {
    @apply flex items-center space-x-1 w-full p-1 md:text-right md:w-32 md:text-lg 
    rounded border-b-2 border-primary-bright   bg-gray-100 dark:bg-gray-800;
  }
  .property-readOnly {
    @apply flex items-center w-full h-10 px-2  cursor-default rounded   bg-gray-50 dark:bg-gray-800;
  }
  .input-with-label {
    @apply block md:flex md:items-center md:space-x-2;
  }
  .input-label {
    @apply w-full md:text-right md:w-24 md:text-lg;
  }

  .modal-neutral-btn {
    @apply text-lg rounded-md px-4 py-1 bg-gray-200  hover:bg-gray-300  dark:bg-gray-700 
    dark:hover:bg-gray-600 font-medium;
  }

  .modal-positive-btn {
    @apply text-lg rounded-md px-4 py-1 bg-primary hover:bg-primary-dark 
    dark:text-black font-medium disabled:invisible
    disabled:cursor-no-drop;
  }

  .modal-negative-btn {
    @apply text-lg rounded-md px-4 py-1 bg-red-600 hover:bg-red-500 
     font-medium disabled:hover:bg-yellow-300 
    disabled:cursor-no-drop;
  }
}
